:root {
    --sans: "JetBrains Mono", sans-serif;
    --blue: #121559;
    --darkblue: #0f1140;
    --verydarkblue: #0a0e26;
    --purple: #3132a6;
    --pink: #f25cd9;
    --white: #f7f8fa;
    --font-size: 1.3rem;
}

html {
    box-sizing: border-box;
    background-color: var(--darkblue);
    font-size: var(--font-size);
    padding: 1rem;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: var(--sans);
    color: var(--pink);
    margin: 0;
}

li,
a {
    font-family: var(--sans);
    color: var(--white);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.content-wrapper {
    border-style: solid;
    border-width: 0.1rem;
    border-color: cyan;
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
}

#roadmap {
    margin: 0 auto;
}
